<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4
            bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="text-dark" href="{% url 'home' %}">Hall of Fame Vidz</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'halls:dashboard' %}">Dashboard</a>
        <a class="p-2 text-dark" href="{% url 'accounts:logout' %}">Log Out</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'accounts:login' %}">Log In</a>
        <a class="p-2 text-dark" href="{% url 'accounts:signup' %}">Sign Up</a>
        {% endif %}
    </nav>

</div>
