{% extends 'halls/halls_base.html' %}
{% load bootstrap4 %}

{% block halls_content %}

<div class="container">
    <h1>Edit Hall of Fame</h1>
    <form class="" action="" method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}alert alert-danger{% endif %} ">
            {{ field.erros }}
            {{ field.label_tag }}
            {% render_field field class='form-control' %}
        </div>
        {% endfor %}
        <input class="btn btn-primary btn-large" type="submit" value="Save">

    </form>
    <br>
    <a class="btn btn-danger btn-large" href="{% url 'halls:delete_hall' hall.id %}">Delete</a>

</div>

{% endblock %}
